body
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: hsl(0, 0%, 8%);
    font-family:Inter,sans-serif;

}
.card
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid var(--color-gray-950, #111);
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    padding: 1.5rem;
    margin:1.5rem;
    max-width: 30rem;
    
}
#name
{
    font-size: 1.5rem;
    font-weight: 700;
    color:white;
    margin-top: 1.5rem; 
    margin-bottom: 0px;
}
#location
{
    font-size: 0.8rem;
    font-weight: 600;
    color:hsl(75, 94%, 57%);
    margin-top: 1px; 
    margin-bottom: 0px;
}
#job
{
    font-weight: 400;
    font-size: 0.5rem;
    color:white;
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem;
}
.socialmedia
{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: 0.2rem;
    text-align: center;
    align-self: stretch;
}
.button
{
    border: 1px solid var(--color-gray-950, #111);
    border-radius: 5px;
    color:white;
    font-weight: 600;
    font-size:12px;
    background-color: hsl(0, 0%, 12%);
    padding: 5px;
    margin:2px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}
.button:hover
{
    background-color:hsl(75, 94%, 57%) ;
    color:white

}

img
{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 10%;
}
.attribution
{
    margin: 10px;
}